{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <link rel="stylesheet" href="{% static 'healthChecks/css/style.css' %}">   
    {% endblock %}
    <link rel="icon" href="{% static 'healthChecks/images/sky_favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}Sky Health Check {% endblock %}</title>
</head>
<body>
{% if not request.path == 'login/' and not request.path == 'register/' %}
    <div class="navbar">
        <img src="{% static 'healthChecks/images/sky_logo.png' %}" alt="Sky Logo"
             style="width: 100px; margin-bottom: 2rem;">
        <nav>
            <a href="/dashboard" style="color: white; text-decoration: none; font-weight: bold;">Home</a>
            <a href="{% url 'profile' %}" style="color: white; text-decoration: none; font-weight: bold;">Profile</a>
            <a href="/settings" style="color: white; text-decoration: none; font-weight: bold;">Settings</a>
            <a href="{% url 'logout' %}" style="color: white; text-decoration: none; font-weight: bold;">Logout</a>
        </nav>
    </div>
{% endif %}

<div style="margin-left: {% if not request.path == '/login/' and not request.path == '/register/' %}220px{% else %}0{% endif %}; padding: 2rem;">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>