/*Author: Adam Ghounbaz*/

body {
    text-align: center;
    background-attachment: fixed;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

h1, h2 {
    color: #1d88d1;
}

p {
    font-size: 17px;
}

input {
    margin-right: 10px;
    margin-left: 10px;
}

input[type="radio"]{
    transform: scale(1.25);  
    margin-right: 1%; 
    margin-left: 5%;
}

input[type="radio"].good:checked{
    accent-color: green;
}

input[type="radio"].neutral:checked{
    accent-color: orangered;
}

input[type="radio"].bad:checked{
    accent-color: red;
}

.cards {
    margin-top: 150px;
}

.voteCard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin-left: 30%;
    margin-right: 30%;
    padding: 30px;

    animation: fadeIn 1s ease;
}

.hidden {
    display: none;
}

.good{
    color: green
}

.neutral{
    color: orangered;
}

.bad{
    color: red;
}

#progressInfo { 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: fixed;
    top: 0;
    width: calc(100% - 220px);
    left: 220px;
    z-index: 1000;
    justify-content: center;
}

#percentageCompleted {
    display: block;
    text-align: center;
    margin: 15px;
}

/*Styles the border of the progress bar*/
#progressBorder {
    background-color: #d6faff;
    border-radius: 10px;
    width: 100%;
    height: 20px;
}

#progressFill {
    background-color: #0288d1;
    border-radius: 10px;
    width: 0;
    height: 100%;
    box-sizing: border-box;
}

#buttonsCard {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px){
    .voteCard, #progressInfo{
        margin-left: 10%;
        margin-right: 10%;
    }
}